<!DOCTYPE html>
<html>
<head>
    <% include partials/templates/head.ejs %>
</head>
<body>
<% include partials/templates/header.ejs %>

<div class="container">

    <div class="row">
        <div class="col-sm-8">

            <% artists.forEach(function(item){ %>
            <h3><%= item.title %></h3>
            <span>
            <small>with
                <a href="/speakers/<%= item.shortname %>"><%= item.name %></a>
            </small>
            </span>


            <% switch(page){
                case 'artistList': %>
            <p><%= item.summary%></p>
            <% break; %>
            <% case 'artistDetail': %>
            <p><%- item.description%></p>
            <% break; %>
            <% }; %>

            <% }) %>

        </div>
        <div class="col-sm-4">

            <% include partials/contents/nextmeet.ejs %>

            <% include partials/contents/artworklist.ejs %>

        </div>
    </div>
</div>

<% include partials/templates/footer.ejs %>
<% include partials/templates/foot.ejs %>

</body>
</html>
